**Scenario**

Little Lemon needs you to help them to build a functional Booking System from which they can manage their customer data. An integral part of a well-functioning system is the ability to query data. Little Lemon need you to help them add the search functionality required to query their data. Use your knowledge of database clients to help Little Lemon complete these task.

## **Task 1 :**

Your first task is to import the connector module, enter your user details, connect with the database and instantiate an instance of cursor to pass queries and return results.

**Establishing a Connection :**

In [2]:
# Importing MySQL Connector/Python 

import mysql.connector as connector
from mysql.connector import Error

In [3]:
# Establishing connection between Python and MySQL database via connector API

try:
    connection=connector.connect(user="root",password="")
except Error as er:
    print(er.msg)

print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

**Creating a Cursor :**

In [4]:
# Creating cursor object to communicate with entire MySQL database

cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

**Setting the Database for use :**

In [5]:
# Set LittleLemonDB database for use

cursor.execute("USE LittleLemonDB")
connection.database
print("The database LittleLemonDB is set for use.")

The database LittleLemonDB is set for use.

## **Task 2 :**

In this second task, you now need to query the database to show all tables within the database.

In [6]:
show_tables_query = "SHOW TABLES;" 

cursor.execute(show_tables_query)

results=cursor.fetchall()

columns=cursor.column_names

print(columns)
for result in results:
    print(result)

('Tables_in_littlelemondb',)
('Bookings',)
('Customer',)
('Delivery',)
('Menu',)
('MenuItems',)
('Orders',)
('ordersview',)
('Staff',)

## **Task 3 :**

**Query with table JOIN**

For the third and final task, Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

Creating Join Query

In [7]:
join_query = """ SELECT Customer.FullName,
Customer.ContactNumber,
Customer.Email,
Orders.TotalCost
FROM Customer
LEFT JOIN Orders
ON Customer.CustomerID = Orders.CustomerID
WHERE Orders.TotalCost > 60;
"""

Running the query by invoking execute module on the cursor.

In [8]:
cursor.execute(join_query)

Fetching the results in a variable called "results".

In [9]:
results = cursor.fetchall()

Extracting the names of the columns.

In [10]:
columns=cursor.column_names

Printing the names of the columns and the stored data using the "for" loop.

In [11]:
print(columns)
for result in results:
    print(result)

('FullName', 'ContactNumber', 'Email', 'TotalCost')
('Anna Iversen', '351786345', 'anna.i@outlook.com', Decimal('450.00'))
('Vanessa McCarthy', '351579248', 'vanessa.m@gmail.com', Decimal('100.00'))
('Joakim Iversen', '351986344', 'joakim.i@littlelemon.com', Decimal('780.00'))
('Anna Iversen', '351786345', 'anna.i@outlook.com', Decimal('120.00'))

Closing the Connection between Python and MySQL database.

In [12]:
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.